# Maven
target/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Environment files
.env

# IntelliJ
.idea/

# Eclipse
.project
.classpath
.settings/


alb-controller-policy.json
irsa-trust-policy.json
github-actions-trust-policy.json
github-actions-ecr-policy.json
Complete_Console.txt